{% extends "base_generic.html" %}
{% block content %}
{% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" />
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i'%}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
  <link href="{% static 'css/business-casual.min.css' %}" rel="stylesheet">

  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="/static/img/about.jpg" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper"> Muebleria</span>
                <span class="section-heading-lower">FoxfurnitureChile</span>
              </h2>
              <p>Somos una Muebleria que lleva mas de 10 años en el rugro de Fabricacion y venta de muebles, contando con 2 fabricas ubicadas en <b>SANTIAGO</b> y una gran linea de clientes ya sean Comerciantes o publico general.</p>
              <p class="mb-0"><b>FoxfurnitureChile</b> Trabaja con el cliente , buscando el estilo ideal para decorar su hogar ya sea buscando el color para su living  que combine con las paredes o con las persianas , entre otros. De esta forma encontrar exactamente lo que desea el cliente </p>
              <p class="mb-0"><b>Contactenos</b> al numero +56964350008 (Harold Romero) o al numero +56945946401 (Anais Perez) Tambien puede ver nuestros modelos en <a href="https://www.instagram.com/FoxfurnitureChile"> Nuestro Instragran </a> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
  <script src="{% static 'js/Funciones.js' %}"></script>
  <script src="{% static 'jquery/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/Funciones.js' %}"></script>
  <script src="{% static 'jquery/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
