{% extends "base_generic.html" %}
{% block content %}
{% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" />
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i'%}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
  <link href="{% static 'css/business-casual.min.css' %}" rel="stylesheet">

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/static/img/intro.jpg" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Decora Tu Sala de estar</span>
            <span class="section-heading-lower">A tu gusto y con los colores que tu quieras </span>
          </h2>
          <p class="mb-3">Elige entre nuestros modelos y Decora tu Hogar como s iempre has querido, elige el color de tu living y el barniz de tu comedor.
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="{% url 'about' %} ">CONÓSENOS!</a>
          </div>
        </div>
      </div>
    </div>
  </section>
 <div>
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Nuestro Compromiso </span>
              <span class="section-heading-lower">Con nuestros clientes</span>
            </h2>
            <p class="mb-0">Nos comprometemos al 100% entregando nuestros productos en exelente estado y en el momento acordado, ademas nos comprometemos en llevar una venta transparente y siempre estar en contacto con el cliente!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
 </div>


{% endblock %}
  <script src="{% static 'js/Funciones.js' %}"></script>
  <script src="{% static 'jquery/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/Funciones.js' %}"></script>
  <script src="{% static 'jquery/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

