{% extends "base_generic.html" %}
{% block content %}
{% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" />
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i'%}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
  <link href="{% static 'css/business-casual.min.css' %}" rel="stylesheet">


  <center> 
  <section class="page-section cta">
      <div class="container">

       

          <div class="col-lg-9">
    
            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carouse1">
              <ol class="carousel-indicators"> 
                
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>

              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <img class="d-block img-fluid" src="/static/img/products-03.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block img-fluid" src="/static/img/products-02.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block img-fluid" src="/static/img/products-01.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block img-fluid" src="/static/img/products-04.jpg" alt="quarter slide">
                  </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
    
            <div class="row">
    
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="/static/img/products-01.jpg" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <p >Living en forma de L</p>
                    </h4>
                    <h5>$160.000</h5>
                    <p class="card-text">Living en forma de L , color negro y de 4 piezas, perfecto para departamentos y lugares con espacio reducido ! medidas : 170x225 </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9734; &#9734;</small>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a ><img class="card-img-top" src="/static/img/products-02.jpg" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <p >Comedor 6 sillas </p>
                    </h4>
                    <h5>$160.000</h5>
                    <p class="card-text">Comedor de 6 sillas color miel y tapiz Racimo blanco, perfecto para la familia, medidas: 90x160 </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a ><img class="card-img-top" src="/static/img/products-03.jpg" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a >Living Especial M</a>
                    </h4>
                    <h5>$260.000</h5>
                    <p class="card-text">Living especial M color blanco en PEU , super comodo y grande, medidas 230x230!</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a ><img class="card-img-top" src="/static/img/products-05.jpg" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a >Living en forma de L</a>
                    </h4>
                    <h5>$160.000</h5>
                    <p class="card-text">Living en forma de L, Brazo cuadrado con tapilla, seccional, perfecto para departamentos ! medidas : 170x225</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9734; &#9734;</small>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="/static/img/products-06.jpg" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a >Living en forma de L</a>
                    </h4>
                    <h5>$160.000</h5>
                    <p class="card-text">Living en forma de L color negro , brazo cuadrado , sin tapilla , perfecto para departamentos ! medidas : 170x225
                    </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9734; &#9734;</small>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="/static/img/products-07.jpg" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a >Comedor 6 Sillas</a>
                    </h4>
                    <h5>$160.000</h5>
                    <p class="card-text">Comedor 6 sillas color miel, silla tipo escalera y cubierta con vidrio ! 
                      medidas : 90x160
                    </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="/static/img/products-09.jpg" alt=""></a>
                    <div class="card-body">
                      <h4 class="card-title">
                        <a >Living en forma de L</a>
                      </h4>
                      <h5>$160.000</h5>
                      <p class="card-text">Living en forma de L brazo curbo , Color negro con diseño GeoEsika  ! 
                        medidas : 170x225
                      </p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">&#9733; &#9733; &#9733; &#9734; &#9734;</small>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                      <a href="#"><img class="card-img-top" src="/static/img/products-010.jpg" alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a >Living Especial M</a>
                        </h4>
                        <h5>$260.000</h5>
                        <p class="card-text">Living Especial M color rojo con blanco en felpa , con 2 puff enbutidos en los brazos dando un toque mas moderno y perfecto para cuando vienen vicitas   ! 
                          medidas : 230x230
                        </p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-4">
                      <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="/static/img/products-08.jpg" alt=""></a>
                        <div class="card-body">
                          <h4 class="card-title">
                            <a >Comedor 6 Sillas</a>
                          </h4>
                          <h5>$160.000</h5>
                          <p class="card-text">Comedor 6 sillas color miel, silla tipo tablilla y cubierta con vidrio, pata leon  ! 
                            medidas : 90x160
                          </p>
                        </div>
                        <div class="card-footer">
                          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                      </div>
                    </div>
            </section>
          </center>  

  <script>
    $('.list-hours li').eq(new Date().getDay()).addClass('today');
  </script>

{% endblock %}
  <script src="{% static 'js/Funciones.js' %}"></script>
  <script src="{% static 'jquery/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/Funciones.js' %}"></script>
  <script src="{% static 'jquery/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>


