{% extends "base_generic.html"%}

{% block content %}




<section class=" ">
    <div class="">
        <h2>Eliminar formulario</h2>
    </div>
</section>
<section class="">
    <div class="">
        <p>
            Seguro que quieres eliminar el formulario : {{ formulario.id }}

        </p>

        <form action="" method="POST">

            {% csrf_token %}
            <table>

                {{form.as_table}}
            </table>
            <input type="submit" value="Yes, delete">

        </form>



    </div>
</section>



{% endblock %}